<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/reserve/company.css}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script th:src="@{/js/member.js}"></script>
  <title>리스트</title>
</head>
<body>
<th:block th:insert="~{common/header::header}"></th:block>
<br><hr>

<div style="background-color:gray" th:each="dto:${list[0]}" id="comhead">
  <h3>프로필</h3>
  <br>
  <div class="mb-3">사업자 이름: [[${dto.companyWrite.name}]]</div>
  <div class="mb-3">회사이름: [[${dto.companyWrite.companyname}]]</div>
  <div class="mb-3">회사주소: [[${dto.companyWrite.address}]]</div>
</div>


</hr>
<table class="table table-hover">
  <thead class="table-success">


  <div th:each="dto:${list[0]}">
    <tr>
      <td style="width:150px"><button type="button" style="float:right" class="btn btn-outline-dark" onclick="history.back()">돌아가기</button></td>
    </tr>
  </div>
  <hr>

  </thead>

  <tbody>
  <table th:each="dto:${list}" style="text-align:center">
    <tr>
      <th rowspan="3">제목</th>
      <th>레저이름</th>
      <td>[[${dto.name}]]</td>
    </tr>
    <tr>
      <th>레저주소</th>
      <td>[[${dto.address}]]</td>
    </tr>
    <br>
  </table>

  </tbody>
</table>

</div>
</body>
</html>