<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script th:if="${list == null} and ${list2 ==null}">
    alert("해당 정보가 삭제되거나 없습니다");
    history.back();
</script>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/reserve/member.css}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <title>리스트</title>

</head>
<body>
<th:block th:insert="~{common/header::header}"></th:block>

</hr>
<table class="table table-hover">
  <thead class="table-success">
  <th:block th:if="${list2} and ${#lists.size(list2) > 0}">

  <div style="background-color:cornflowerblue" th:each="dto2:${list2[0]}" id="memhead">
    <h3>프로필</h3>
    <div class="mb-3" th:with="user=${#authentication.getPrincipal().getUser()}">유저 아이디: [[${dto2.user.username}]]</div>
  </div>
  </th:block>

  <th:block th:if="${list2} and ${#lists.size(list2) > 0}">

  <div style="background-color:white" th:each="dto2:${list2}" class="memhead">
    <span>컴퍼니 이름 : [[${dto2.companyname}]]</span>
    <span sec:authorize="hasAnyRole('COMPANY')" style="padding: 0px 10px 0px 0px"><a class="btn btn-outline-dark" th:href="@{/leisure/write(company_id=${dto2.id})}"> 레저 등록</a></span>
    <span sec:authorize="hasAnyRole('COMPANY')" style="padding: 0px 10px 0px 0px" ><a class="btn btn-outline-dark" th:href="@{/reserve/company(company_id=${dto2.id})}"> 등록한 레저 목록</a></span>
    <span sec:authorize="hasAnyRole('COMPANY')"><a class="btn btn-outline-dark" th:href="@{/company/mypage(id=${dto2.id})}">회사 정보</a></span>
    <hr>
  </div>
  </th:block>
  <hr>
  <h2 style="text-align:center">예약 목록</h2>

  </thead>
  <tbody>
  <th:block th:if="${list} and ${#lists.size(list) > 0}" th:with="dto=${list[0]}">

  <table th:each="dto:${list}" style="text-align:center" id="lbody">

      <tr>
        <th>이름</th>
        <td>[[${dto.leisureWrite.name}]]</td>
        <td rowspan="5" style="width:150px"><a class="btn btn-outline-dark" th:href="@{/reserve/detail(id=${dto.id})}">예약수정</a></td>
        <td rowspan="5" style="width:150px"><a class="btn btn-outline-dark" th:href="@{/review/write(reservation_id=${dto.id})}">후기작성</a></td>
      </tr>
      <tr>
        <th>가격</th>
        <td>[[${dto.leisureWrite.price}]]</td>
      </tr>
      <tr>
        <th>주소</th>
        <td>[[${dto.leisureWrite.address}]]</td>
      </tr>
    <tr>
      <th>예약처리시간</th>
      <td>[[${#temporals.format(dto.regdate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
    </tr>
    <tr>
      <th>예약시간</th>
      <td>[[${dto.date}]]</td>
    </tr>
    <br>
  </table>
  </th:block>
  </tbody>
</table>

</div>
</body>
</html>