<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script th:src="@{/js/member.js}"></script>
  <title>리스트</title>

  <style>
    table, td, th {
      border:1px solid #ccc;
    }
    td, th {
      padding:10px 20px;
    }
    td:last-child{
      width:1500px;
    }
    div{
      padding:50px
    }
    h1{
    width:400px;
    }
  </style>
</head>
<body>

<h2>목록입니다.</h2>



</hr>
<table class="table table-hover">
  <thead class="table-success">
<!--  <tr>-->
<!--    <th>주소</th>-->
<!--    <th>이름</th>-->
<!--    <th>가격</th>-->
<!--    <th>날짜</th>-->
<!--    <th>성함</th>-->
<!--    <th>예약수정</th>-->
<!--    <th>후기작성</th>-->

<!--  </tr>-->

  <div style="background-color:gray">
    <h3>프로필</h3>

  </div>
  <hr>

  </thead>
  <tbody>

  <table th:each="dto:${list}">
    <!--이 위에는 그냥 목록에서 id 타고 detail 로 들어가는 것 -->



      <tr>
        <th rowspan="3">제목</th>
        <th>이름</th>
        <td>[[${dto.leisureWrite.name}]]</td>
      </tr>
      <tr>
        <th>가격</th>
        <td>[[${dto.leisureWrite.price}]]</td>
      </tr>
      <tr>
        <th>주소</th>
        <td>[[${dto.leisureWrite.address}]]</td>
            <td><a class="btn btn-outline-dark" th:href="@{/reserve/detail(id=${dto.id})}">예약수정</a></td>
            <td><a class="btn btn-outline-dark" th:href="@{/review/write(leisure_id=${dto.leisure_id})}">후기작성</a></td>

      </tr>
    <br>


  </table>

  </tbody>
</table>

</div>
</body>
</html>