<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/review/list}">레져후기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/qna/list}">고객센터</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/mypage/member}">mypage</a>
          </li>
        </ul>
<!--        로그인 안했을때-->
        <a class="btn btn-primary" sec:authorize="isAnonymous()" th:href="@{/user/login}">LOGIN</a>

        <!-- 로그인 했을때는 username 과 로그아웃 form 보여주기 -->
        <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}">
          <!--TODO : 로그아웃후 다시 돌아오기 -->
          <span class="d-flex">
                        <span class="text-light p-2"><span>[[${user.username}]]</span>님 환영합니다!</span>
                        <span><button class="btn btn-danger" type="submit">Logout</button></span>
          </span>
        </form>
      </div>
    </div>
  </nav>
</th:block>

</html>