#background{
    margin:150px 0px 0px 560px;
    width : 450px;
    height : 500px;
    border-width: 5px;
    border-color: blue;
    border-style: solid;
    background-color: skyblue;
}

#ch2{
    font-size: 40px;
    margin:auto;
}
#cwrite{
    margin:auto;
    width : 350px;
    height : 400px;
}

.cwrite{
    width : 340px;
    float : left;
    padding:10px;
}

#cbutton{
    clear:both;
    display: inline-block;
    margin: 18px 0px 0px 170px;
}

/* write css */