<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script th:if="${list == null} or ${#lists.size(list) <= 0}">
    alert("해당 정보가 삭제되거나 없습니다");
    history.back();
</script>


<th:block th:if="${list} and ${#lists.size(list) > 0}"  th:with="user=${#authentication.getPrincipal().getUser()}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" th:href="@{/css/common.css}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script th:inline="javascript">
    const conPath =[[${conPath}]];
    const logged_id = [[${user.id}]];
  </script>

  <script th:src="@{/js/qnaComment/detail.js}"></script>

  <title>작성</title>
</head>



<body>
<th:block th:insert="~{common/header::header}"></th:block>

<div class="container mt-3" th:with="dto=${list[0]}">
  <h2>작성</h2><br>
  <div style="float:right" >작성일: [[${#temporals.format(dto.regdate, 'yyyy-MM-dd HH:mm:ss')}]]</div>
  <br>
  <hr>

  <div class="row mt-5" th:if="${error }">
    <div class="col-12 text-danger" th:text="${error}">   <!-- text-danger 이건 글씨를 빨갛게 보이게 한다.-->
      <!--/* 에러메세지 */-->
    </div>
  </div>
<section>
  <form name="frmDelete" th:action="@{/qna/delete}" method="post">
    <input type="hidden" name="id" th:value="${dto.id}">
  </form>

    <!--/*  th:with="user=${#authentication.getPrincipal().getUser() 나중에 위에 넣어야함 ****[[${user.id}]] 이게 member_id 값이다!!!!!*** 이거는 로그인 된 사용자의 u_id를 알려준다. 정보는 밑으로.. */-->

    <div class="mb-3 mt-3">
      <label for="subject">제목:</label>
      <input type="text" class="form-control" id="subject" placeholder="제목을 입력하세요" name="subject" th:value="${dto.subject}" readonly>
    </div>
    <div class="mb-3 mt-3">
      <label for="content">내용:</label>
      <textarea class="form-control" rows="5" id="content" placeholder="내용을 입력하세요" name="content" readonly>[[${dto.content}]]
      </textarea>
    </div>

  <a class="btn btn-outline-dark" th:href= "@{/qna/update(id=${dto.id})}" th:if="${user.id == dto.user_id}">예약 수정</a>
  <button type="button" class="btn btn-outline-dark" id="btnDel" th:if="${user.id == dto.user_id}">삭제</button>
    <a class="btn btn-outline-dark" th:href="@{/qna/list(page=${session.page})}">목록</a>
    <a class="btn btn-outline-dark" th:href="@{/qna/write}">작성</a>



  <th:block th:insert="~{qna/comment::comment}"></th:block>
</section>
</div>

</body>
</th:block>
</html>
