#wh2{
    margin:150px 0px 0px 400px;
    font-size: 40px;
}
#write{
    margin:0px 0px 0px 400px;
    width : 800px;
    height : 400px;

}

#wimage{
    width : 350px;
    height : 380px;
    border-width: 5px;
    float: left; width: 40%;
}

.write{
    width : 340px;
    float : left;
}

#wbutton{
    clear:both ;
    display: inline-block;
    margin: 18px 0px 0px 190px;
}

#wimgbtn{
    clear:both ;
    display: block;
    margin : 0px 0px 0px 100px;
}

#image{
    width : 315px;
    height : 320px;
}
/* write css */

tr, td {
    border-bottom: 1px solid #444444;
    text-align: center;
     }

table{
    width: 800px;
    height: 150px;
}

#td1{
    width: 250px;
}
#td2{
    width: 200px;
}
#td3{
    width: 200px;
}
#td4{
    width: 150px;
}

#lbody{
    margin : 100px 0px 0px 200px;
}

#weather{
    width: 500px;
    height: 110px;
    right:0%;
    position: fixed;
    
}
#lstar{
    margin : 10px 520px 0px 0px;
    float:right;
}

#lbtn{
    margin : 10px 520px 0px 0px;
    float:right;

}   
/* list css */
#dh2{
    margin:150px 0px 0px 280px;
    font-size: 40px;
}
#detail{
    margin:150px 0px 0px 480px;
    width : 350px;
    height : 350px;

}

#dimage{
    width : 350px;
    height : 395px;
    float: left; width: 40%;
}

.detail{
    width : 340px;
    float : left;
}

#dbutton{
    clear:both ;
    display: inline-block;
    margin: 18px 0px 0px 190px;
}

#wimgbtn{
    clear:both ;
    display: block;
    margin : 0px 0px 0px 100px;
}

#image{
    width : 315px;
    height : 320px;
}
/* detail css */